html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  



header h1 {
    background-color: #02B187;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}


.links-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3A009C;
    align-items: center;
}

.links {
    font-size:21px;
    
    
    text-align: center;
    color: #fff;
    text-decoration: none;
}






table, th, td {
    border: 1px solid rgb(255, 255, 255);
    padding:4px;
    
    font-size: 12px;
    }

    table {
        border: 10px solid rgb(255, 255, 255);
    }

    th{
        background-color:orange;
    }

.checked{
    background-color:rgb(223, 241, 223);
}    

.ingredients-table{
    display:block;
}



.selected-item{
    background-color:white;
    border:1px solid white;
    color:green;
    
    
   
}

.selected-blank{
    background-color:white;
}

.icons{
    width:31px;
    height:31px;
}

.ingredient-text{
    
   
   
    background-color:LightGreen;
    display:inline;
    padding:5px;
   
    
}


.tables-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(217, 241, 255);
    
}
