


html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}





.orientation {
    background-color:#02B187;
    height:100px;
    width:100%;
    font-size:48px;


}


.title{ 
    font-weight:bold;
   
}

table, th, td {
    border: 1px solid rgb(217, 241, 255);
    padding:4px;
    height:30px;
    min-width:100px;
    }

    th {
        background-color:orange;
    }

.checked {
    background-color:LightGreen;
}    

.ingredients-table {
    display:block;
}

.flex-container {
      display:flex;   
}

.selected-item {
    background-color:white;
    border:1px solid white;
    color:green;
    
    
   
}

.selected-blank {
    background-color:white;
}

.icons {
    width:31px;
    height:31px;
}

.ingredient-text {
    
   
   
    background-color:LightGreen;
    display:inline;
    padding:5px;
   
    
}
